<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696880700219-8c5av2edmh7dqg8qi73o1cl8cpreqbsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696880700219-8c5av2edmh7dqg8qi73o1cl8cpreqbsd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696880700219-f08l17eod63ej1spj430vt2stbckavhp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUcsq6DVy2X_Zhtzx5xXDb26sMFG8gGT8</string>
	<key>GCM_SENDER_ID</key>
	<string>696880700219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infrablockchain.cowin</string>
	<key>PROJECT_ID</key>
	<string>cowin-a6b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>cowin-a6b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696880700219:ios:cbe62dde30de545bec351e</string>
</dict>
</plist>